{%extends "base.html"%}

{%block content%}
<div style="text-align: center;" class="avko"><h3>ALTA  ერთერთი მსხვილი ტექნიკის მაღაზიაა საქართველოში, სადაც შეგიძლიათ შეიძინოთ კომპიუტერული ტექნიკა და მიიღოთ კომპიუტერული მომსახურება.
    მაღაზია მაღალი ხარისხის ტექნიკასთან ერთად მომხმარებელს ასევე თავაზობს მათ მონტაჟსა და ტექნიკურ მომსახურებას.
    კომპანიის ძირითად საქმიანობას კომპიუტერებისა და საოფისე მოწყობილობების, აქსესუარებისა და ქსელური მოწყობილობების საცალო და საბითუმო ვაჭრობა წარმოადგენს.
</h3></div>
<div style="text-align: center;"><img src="../static/ALTA_LOGO.png" alt="Flowers in Chania" class="center"></div>

{%endblock%}
