{%extends "base.html"%}
{%block content%}
<form action="" method="post" class="login">

  <div class="container">
      <label>
          <input type="text" placeholder="Enter Username" name="uname" >
      </label>
      <label>
          <input type="password" placeholder="Enter Password" name="psw">
      </label>
    <button type="submit" class="loginbutton">Log In</button>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% for error_text, msg in messages %}
        <p class="{{error_text}}">{{ msg }}</p>
      {% endfor %}
{% endwith %}




  </div>
</form>
{%endblock%}